/remember/
.idea
venv
*/__pycache/*
apeincorp_verify/__pycache__/
apeincorp_verify/migrations/__pycache__/*
apeincorp/__pycache__/

db.sqlite3
apeincorp_verify/static/admin/
apeincorp_verify/static/import_export/

media/
