<!doctype html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="index, follow">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>VERIFY Ape Premium Cannabis</title>

    <link rel="stylesheet" href="{% static 'css/discard_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/e3a0b6df06.js" crossorigin="anonymous"></script>
</head>

<body>
    <a class="back_to_a" href="https://apeincorp.com/"><i class="fas fa-long-arrow-alt-left back_to"></i></a>
{#    <img class="verify_here_img" src="{{ PORTAL_URL }}media/verify_here.png" alt="verify here">#}
    <img class="verify_here_img" src="https://lh3.googleusercontent.com/M98m3AjHHLsi48ml5uPTjQHB1VSe__zV-4d1j9YwPlXnzSoxzR-tLASIBFRyOmdw0v6nSB72C94UjgCLhRuqRuyCnwWlWjVt_2sxMzUuUl2_Xh13r0B2cyz_2nTjTjA94fnd9TwqSyOUeitZBfg_ck5VwdWz4sV3KDaJYajNGSVCG2feSmjWFxzKt97yh7WdtNzDhIE9bYlin8uDzvxbvLr_r73fCWh9ffUX2Dk15hvRuZzpHiRQ9JfwqFCfop0V_FY2yAMSFCmbM4Gxh87PKanQe7c3De7ae3rk7az3BBg1hoPAhb0oomeFwLnVPVP7VTe2Bmr7jGFFnVbERAw-XbuCxN8N8Qiy40PXjLMkyMH_myIy7xXdcfPXJl2evYohlayVgEAk-t7Q41EOghXiEePD6RHAOfc0vF9hY3GWRrXnSTeoOh5PryFvmMeCKQCL6eA21b_Rz3sBpC5ITgilaaCsBoecI55A8D0w0hg7YjrxyTHvBE9a9aeJpZiYDV4A5ZULPBw_lsJMJxoIRXfe2jd_uV1wwuKEuofOwTJtmys1rQtt8UCSilEJIU3SeO49HGe-cM-dm16KfF-wWAojU_viBQL7HJQzo4VhlzxO7bS-50sJ1QKdJmhOQ77-AD2wYFmzf9aa5BjTRb4EkC5zvveY_-pB7h4Aoq6yzvRb1SQ5dCXv9Qc8y5jewaEFdDAq4ECL0JIn8uwFBo_DWmKWkMEd=w218-h146-no?authuser=0" alt="verify here">

    <section class="section">
        <div class="container">
            <div class="verify" id="verify">
                <div class="logo_verify_block__area">

                    <a href="#" class="header_logo">
{#                        <img class="header__logo" src="{{ PORTAL_URL }}media/logo.png" alt="logo">#}
                        <img class="header__logo" src="https://lh3.googleusercontent.com/xmOzaMEeuv5dBX9ZKmtU-FFdjUBis6E6IvWJmuNPWRm1EGPBS2DIak7VWwAL0ch_-gQ48oNYOc53XCzEnHIJj4aWHdiJTE_LkdsUHt16xTDk66pJvJ2KExjKmt2lqIx7HK6hB2PeWyLIbo2z_rXKTGAXQScCNSkLsp8BpicZqulNgPDVNVHhkAj-SPgsawJslX7fWmWaEamJb1WIgyJ6JKpx5KmpYOQ0z6b2C9_L-c2Z1NqNDGsoBCJ0uraXWTlRjzQ0l74otLWmJ_oDs2gKyBh4N7u2FuzVnEkozcVTIJvmsqcPskSgntBBatyGhgIoVHWvwqSAsWcsAjapFso7gCL44Bx5myB4nunq8gAp-_TBovgVm0epAfaiM26GXP10RZe68nFx0FEXVuMDS4QJeebjhsPYpFWKEa-2rmMZYcMNsVWx0H_3qZpgqatL-L9CGojPFu2gZNsgZYQaLFrrp7MxxJv8BML_ABbKt7HGLg-TtgZAkwBpw9h8Zzr85TLdCRsPVg8RO4HXwyv60RpCmkfqg72uoEkRp7n9ICSlnj5Vand4iU0o6TNiRQ7mrQFNG-ukvISA64WlNIzzt1EEpem1qi9Hsc_DA0navw0rJtrIHcpuSE0Tzs_ObRZZjdnO0kASaBQymH0rQ0JNtd9boFnUt6AOCHiRj4HnMpnaBE7BTeyOlmtrkiOEp0WzsX4Qip9S3zss_wnqg-tUWmXXt8SL=w1003-h285-no?authuser=0" alt="logo">
                    </a>

                </div>
{#                <div class="verify__block">#}
{#                    <img class="verify__img" src="https://cdn.shopify.com/s/files/1/2426/0015/files/unnamed.jpg?v=1615904434" alt="shield_ok">#}
{#                </div>#}
            </div>

        </div>

    </section>

    <section class="section section-60">
        <div class="container">
            <div class="verify__input_area">
            {% csrf_token %}
                <form id="verify_form" action="{% url 'homepage' %}" method="GET" enctype="multipart/form-data">

                    <label class="verify__input_label" for="verify_input">Enter serial number.</label>
                    <input type="text" id="verify_input" placeholder="Serial Number" name="serial" value="{% if qr %}{{ qr }}{% else %}{% endif %}">
                    <button id="verify__submit_button" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </section>

    <section class="section section-60">
        <div class="container">
            <div id="report">


            </div>
        </div>
    </section>

    <div class="container">
        <p style="color: #69727b; padding: 10px 0;">Here we show you the steps to identify the authenticity of our products.</p>

        <div class="tutorial">
            <div class="tutorial__item">
{#                <img class="tutorial__item__img" src="{{ PORTAL_URL }}media/step_1.png" alt="step 1">#}
                <img class="tutorial__item__img" src="https://lh3.googleusercontent.com/DetKTrpf20hwGiUBsZTf0hvQzIhxw4DHXn1XUD5JyygXK3yicvR-mEXkwxxUJG3c8RWq-MzCs7ykZlOzERbMoaEbQsOSnPdP2c5vQUJREyTN2ii8XwmGITcPX6nMEnOli48bEJ9CoHciMMNjQch9_5izeuSQ-CnkIC8EtOOAjssyj4xJ9Fgq_wTsjpL_9b5HhEUY-tTjS1FAnkJ-VgFpiErZhTIn1joFI0ULteZ67orZszx9DHU5Zpl33m5TEILy7_IeO-4QkbAFdgS0hJYM_bHJrTkMY0xZlcigFXwDNrhl27cbkubV45tgeycrmRrlOiMmIoUUyb__oq2JcisnyT6lwlEzNa4fMiBnO1KZszOx3QEQy9EQqMeYmumh0Xnt-K1izPMj75ksAsNINvLREtnxlyybfweRS_RxaRBiIY1TWZGzbcrDZXnRuL_IY9BfhIsvUuUuR5NutVCwh2nJLW-kNiUzU2_jqZ9JVhnTGSqvnCOd7BwkkLwVQ9LLCn8Oh8a4hTGbnu90zwtDoiTS40BljRVEKVvtSMSPV_Hn7PNCL8dfdfuZ5kbQZ7mxv3jQEN7BQWgxSyLoQy4ALfoho1WeG-ZZwQVjc0kGTTf_SRRWGXmSDZIL2QGnvIcyzMFEgPU54ST2QPVWvtBPTCOwF8xqVsPaQsK4ut7ScgVB8ZelFT9Psef-7qMBkNeYKN25ybo1pZ_yorub2Esnwi6PJxQP=s157-no?authuser=0" alt="step 1">
                <div class="tutorial__item__title">Step 1</div>
                <p class="tutorial__item__description">Scan the QR code. This will lead you to STIIIZY verifier.</p>
            </div>
            <div class="tutorial__item">
{#                <img class="tutorial__item__img" src="{{ PORTAL_URL }}media/step_2.png" alt="step 1">#}
                <img class="tutorial__item__img" src="https://lh3.googleusercontent.com/5Pwpdp3-OLWUTajmZwuWX7T1h3SEWecieMo3AK0UC1j8792OwQbhwJaduDoQd9SrAQVLyG9BZ8XM_x-2p-MPJ087zdCGxdFy68P_Hz3szAsEnjcVEMcFuertOH_wY_a7_VGONyeWTKzof8jzhpyfpZ67X9pkAd9W1OPYfcQm9ew3MXVJ7aNq7rPIzSPnlbSuU3TlVa4RLbmg6m8UogbcV8CVjlXA3aYBvgCvnJov9vFf2jEeD5PXn4gTNDld1ci6gziGGzWFeLpCHEyRw0Kb18niHgrYW84GI126hGhLGlEVEJ1_oXnkAGVX4Si-GsqLBHfq6MNNcPylG8MXbiVyLua4uvrjKWlfmii1MORiBOsWh26KDVrg4ZE_gjrflxfJQ--rOPaZBH2pdEHc4Uo0O6heLLSJjdfVk8vBe6eskaJBRudhiPdeX9SVBkjop09FGs0rumsWwBiOaq1GVQIOk7EBfP4VfwXR_wdI0fzGL0kXjxwTtnKzno9xJ1-O5VM0ODBXBba8AN067xe8II18B-0q296BA77wY-2sr_QVhOtOwMNN4Gb6wwsaeh1jZQMom8-YZExX4JGjDVJMBXY7jTMjgKPSIuC5NrbXFWoDJGmrIcLPiJLT27lMSSSEghphzj0hWtWr0DHT8TCxmvpDubIua_VL3UxLGfVwsTypT0Tcz4hNdhz5Z2ytyQBWwpnge4ZPVdL2cRBYE7iphApoNPRB=s157-no?authuser=0" alt="step 1">
                <div class="tutorial__item__title">Step 2</div>
                <p class="tutorial__item__description">Enter the serial code on your STIIIZY product.</p>
            </div>
            <div class="tutorial__item">
{#                <img class="tutorial__item__img" src="{{ PORTAL_URL }}media/step_3.png" alt="step 1">#}
                <img class="tutorial__item__img" src="https://lh3.googleusercontent.com/UDE6coaf-ToNbc7Yip6xNMf4XI-ufzPU8Epw2uwmS3JGunBzdrwbp_rK1ILeInaHkBLhJDckZz_3IIYAuIysCFg2T5CD32KMpK0r4bDewiAlXq8cYIsvaF9VPPoPPzzoKxJBOqwkZiU06YTdZPXtmffGKemK0sDsZ4k3aUKsm7tz02zRkxjfmUOgBZONAANLBT8Bt9hahOjcB5105DSAyRxPelU33lIJHoeEMAaeao2WDqbMvlRVI8V4y-EeuAbAtHpAhrpHKfJoN_OZ3nXsv4AUjdbbaqhWUUcP1ok9tMgSs-cQOOvu_AnsII6d4lRkmfSIxBsrdYMxjKI5-zX2ke9FrWwoQwf8UW58tz_EYoLyS7ZSxzmX8E0xvm6QSg2GMTTsDig0MCkMIZ6vyiLP7cFsB2thn69n4923D3f1BXBrYYu41T0EzFdeh6gccKfEX4nPRFgdCradpfBDGYSITrmBaBXfYsr04ZHEw3UBrBwKSFIOEym-CeQGm-GzYM9Mn465-Z-8Z9qCWu-zWp1zGVNCBpnIJepm5A9TI4E0S4ND4mJAhmKmL-Yk8dVTPrqYbWGkuX2DUIsPNDaOmYaKNDEcTdf3X8udQI5ULo7OsApPpVwjDO82cXy6k6LemA4WEjFKvBJVLao05ENkrbYGpVJw_b-PhGmG4gAj4ZvD8YfO6s3yhoVJl3e3TXdoogC5KnlL_mHNRwupskg9wwPN4uU6=s157-no?authuser=0" alt="step 1">
                <div class="tutorial__item__title">Step 3</div>
                <p class="tutorial__item__description">The result of your authentication will be displayed under the form field.</p>
            </div>
            <div class="tutorial__item">
{#                <img class="tutorial__item__img" src="{{ PORTAL_URL }}media/step_4.png" alt="step 1">#}
                <img class="tutorial__item__img" src="https://lh3.googleusercontent.com/RuCXKia1h_ld9H1ajAWvLDgpgSBF4_er3Ii-Rqbqo4XYAipz6DuztGlyfqJcv_OWxYixESwIm6l471U3ebxfFntkA85HGWhxKXglYPuUGrhr_hRlorN27NCZrSIp4rEA0H9TRW9GAPlqzI7buCjtj39w6XJtnAcizCRASds7C9kFtYi0eesvlK0ypP1lOVpDSzuLTwbQKuFQ17sCbMHbjM3RAi4IxKonebciHNiND-qUnzL9MQ1ixiLtLaBJsRBgcS5rKGW2dzvK5ygKSxdyXvYz8XAJwwsELbdD1Hs2uxKMECiqFo18LEgJAR6NHHBLToEJY6lk15LNloezjh59hzI6dPtKTN_xtS09reWTnVCk2F1eysDIX6JsXZQ_cymvn7YCLxYV1UqlArb6yU8ce4RzDuRcd1SwMqU9oQFM8dDo1OSdLrjLhNyMEOJy-jBjgZomPrEfCd98GtzE80yyJ99H98-4dGPUrp8I0sTWRmxWiW5znHz6rwG23mcu4hkbXIkeFeAHmIzn74aHmn1oNE07nQM0dK_SUgaD1hvMZLMCjkBaWEJcOrsgVZmSWgMe2iOB53d74SIO_Cz-nytWr-3CrAk71so3xV6P4jw4LMSTcu8iG_XvRRDXWnst2XLY0uUI4ntLWJGkcDwx2gcfBDrszU2ltJ-XVqA-Z-FRlY27zI5ZBOLgz0EJsnQqcYihXSLoI4zCFpnat7A2gKpOCZPK=s157-no?authuser=0" alt="step 1">
                <div class="tutorial__item__title">Step 4</div>
                <p class="tutorial__item__description">Enjoy your verified STIIIZY product!</p>
            </div>
        </div>

        <p class="bottom" style="color: #69727b;padding-top: 60px;">For further information or if you have any questions please do not hesitate <br> to contact us.</p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/ajax_post.js' %}"></script>
</body>
</html>