
/* BODY */
body {
	margin: 5% auto 0 auto;
	text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
	line-height: 1.6;
	/*color: #333333;*/
	/*background: url("../../../media/5e4d5b368037e50022ba8ddf_optimized_1920.webp") center fixed no-repeat;*/
	background-size: cover;
	/*filter: grayscale(100%);*/
}

.report_item__content {
	display: inline;
	line-height: 0.5!important;
}

.report_item {
	font-size: 14px!important;
}

/* Container */
.container {
	width: 100%;
	max-width: 1300px;
	/*border: 1px solid red;*/
	/*min-width: 1230px;*/
	margin: 0 auto; /*вирівн. по центру*/
	padding: 0 15px;
}

/* Section */
.section{
	/*height: 282px;*/
	margin-top: 50px;
	position: relative;
}

.section-80 {
	margin-top: 80px;
}

.section-60 {
	margin-top: 60px;
}


/* HEADER */

.header {
	width: 100%;

	position: relative;

	/*border-bottom: 1px solid #c5c5c5;*/
	transition: background .3s linear;
}

.header.active {
	background: black;
}

.header__inner {
	max-width: 1230px;
	/*padding: 30px 0;*/
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.verify_here_img {
	position: absolute;
	top: 3em;
	right: 3em;
	z-index: 1;
}

.header__logo {
	/*margin-top: 28px;*/
	/*margin-left: 30px;*/
	width: 823px;
	height: auto;
}

.header__stay_on {
	font-size: 40px;
	/*font-family: 'BenchNine', sans-serif;*/
	color: white;
}
.header__go_back_block {
	position: relative;
	/*border: 1px solid darkorange;*/
	width: 380px;
	height: 48px;
	transition: all .2s linear;
	background-color: transparent;
}

.header__go_back {
	display: block;
	text-decoration: none;
	/*background-color: #e6b635;*/
	/*border: 1px solid red;*/
	background-color: #fedd72;
	color: black;
	width: 100%;
	height: 100%;
	line-height: 1;
	font-size: 20px;
	/*font-family: 'BenchNine', sans-serif;*/
	/*text-transform: uppercase;*/
	/*position: relative;*/
	transition: all .2s linear;
}

.go_back_span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}

.header__go_back:hover {
	/*background-color: #e6b635;*/
	/*background-color: rgb(205 161 29);*/
	background-color: #ffd24d;
	color: black;
}


.header__go_back_block.active {
	display: block;
}

/* VERIFY */
.verify {
	display: flex;
	justify-content: center;
}

.verify__block {
	border: solid 3px rgba(0,0,0,0.2);
	margin-right: 50px;
	position: relative;
}

.logo_verify_block__area {
	position: relative;
}

.verify__qr {
	font-size: 100px;
	color: white;
}
.verify__img {
	width: 244px;
	height: auto;
}
.verify__text {
	text-transform: uppercase;
	color: white;
	font-size: 25px;
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
}

.verify__qr_block {
	padding: 5px 10px;

	position: absolute;
	top: 24%;
	left: 30%;
	transform: translateX(-50%);
	/*border: 3px solid #10a64a;*/
}
.verify__input_label {
	display: block;
	color: #69727b;
	/*font-family: 'BenchNine', sans-serif;*/
	font-size: 18px;
	letter-spacing: 0.4px;
}

#verify_input {
	letter-spacing: 0.4px;
	margin-right: -7px;

	vertical-align: middle;
	text-decoration: none;
	outline: none;
	height: 46px;
	border: 3px solid #fecf3b;
	border-right: none;
	width: 280px;
	padding: 8px 12px;
    border-radius: 25px 0 0 25px;
	font-size: 17px;
	/*text-align: center;*/
	display: inline-block;
}

.verify__input_area {
	position: relative;
	width: 100%;
	height: 10px;
}
#verify_form {
	position: absolute;
	/*top: 42%;*/
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	text-align: center;
	width: 100%;
}

#verify__submit_button{
	vertical-align: middle;
	display: inline-block;
	font-size: 18px;
	width: 165px;
	height: 46px;
	padding: 0 5px 2px;
	background: #FECF3B;
	/*background: #e6b635;*/
	border: 1px solid #FECF3B;
	border-radius: 0 25px 25px 0;
	color: black;
}
/*#verify_input:focus {*/
/*	border: 1px solid black;*/
/*}*/

.back_to {
	font-size: 29px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;

	transform: translate3d(-50%, -50%, 0);
}
.back_to_a:hover {
	color: white;
}

.back_to_a {
	border-radius: 26px;
	position: absolute;
	top: 3em;
	left: 3em;
	z-index: 1;
	color: black;
	text-decoration: none;
	display: block;
	width: 61px;
	height: 42px;
	background-color: #FECF3B;
}

#verify_input::placeholder {
  	color: #717171;
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
}

/* REPORT */
.report_item {
	color: white;
}

#report {
	border-bottom: 1px solid #cfcfcf;
	padding-bottom: 35px;
}


/* FOOTER */

.footer_content {
	display: flex;
	justify-content: space-between;
}
.created_by, .reserved{
	margin-top: 4px;
	color: black;
	font-size: 21px;
	/*font-family: 'BenchNine', sans-serif;*/
}
.report_item {
	font-size: 30px;
	position: relative;
}
/*.report_item__icon {*/
/*	display: inline-block;*/
/*	position: absolute;*/
/*	top: 25px;*/
/*	left: 0;*/
/*	transform: translate3d(0, -50%, 0);*/
/*}*/
.report_item__content {
	width: 500px !important;
	margin: 0 auto;
	/*font-family: 'BenchNine', sans-serif;*/
	/*padding-left: 45px;*/
	font-size: 14px;
	/*display: inline;*/
}

#verify__submit_button:hover {
	cursor: pointer;
	color: white;
}
/* Nav toggle */

#nav-toggle {
	display: none;
}

.nav-toggle {
	width: 30px;
	padding: 10px 0;

	/*Дуже важливо забрати стилі кнопки !!!!!!!!!*/
	font-size: 0;
	color: transparent;

	border: 0;
	background: none;
	cursor: pointer;
	/*Дуже важливо забрати стилі кнопки !!!!!!!!!*/

	position: relative;
}


.nav-toggle__item { /* Через то що це span - перетв. в хрестик */
	display: block; /* без того не побачимо ! */
	height: 3px;
	background-color: white;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	transition: background .2s linear;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
	content: "";
	width: 100%;
	height: 3px;

	background-color: white;

	position: absolute;
	left: 0;
	z-index: 1;

	transition: transform .2s linear;
}

.nav-toggle.active .nav-toggle__item {
	background: none;
}

.nav-toggle.active .nav-toggle__item:before {
	transform-origin: left top;
	transform: rotate(45deg) translateX(-3px);
}

.nav-toggle.active .nav-toggle__item:after {
	transform-origin: left bottom;
	transform: rotate(-45deg) translateX(-3px);
}

.nav-toggle__item:before {
	top: -8px;
}

.nav-toggle__item:after {
	bottom: -8px;
}


/* TUTORIAL */
.tutorial {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 25px;
}

.tutorial__item__img {
	width: 130px;
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	/*border: 3px solid #bbbbbb;*/
	margin-bottom: 10px;
}

.tutorial__item__title {
	padding-top: 155px;
	font-weight: bold;
	margin-bottom: 8px;
	font-size: 20px;
}

.tutorial__item {
	height: 270px;
	width: 300px;
	position: relative;
	padding: 10px;
}

.tutorial__item__description {
	color: #69727b;
	font-size: 17px;
	line-height: 1.3;
}
/* MEDIA AREA */

@media (max-width: 1400px) { /*Монітори*/

	.header__logo {
		width: 660px;
	}

	.verify_here_img {
		width: 160px;
		top: 1em;
		right: 1em;
	}

	.back_to_a {
		top: 1em;
		right: 1em;
	}
}


@media (max-width: 1235px) { /*Монітори*/

	.header__logo {
		padding: 0 0 0 150px;
		width: 80%;
	}
}


@media (max-width: 990px) { /* Планшети Ландскейп */
	.header__logo {
		width: 80%;
	}

	.verify_here_img {
		width: 140px;
	}

}


@media (max-width: 770px) { /*Портретна*/

	.tutorial__item {
		width: 50%;
	}

	.header__logo {
		width: 420px;
		padding: 30px 0 0 0;
	}

	.back_to {
		font-size: 21px;
	}

	.back_to_a {
		position: fixed;
		width: 50px;
		height: 37px;
		top: 1em;
		left: 0.9em;
	}

	.verify_here_img {
		width: 90px;
	}

	#verify_input {
		width: 230px;
	}

	#verify__submit_button {
		width: 120px;
	}

	.tutorial__item__img {
		width: 110px;
	}

	.tutorial__item__title {
		padding-top: 130px;
	}

	.verify_here_img {
		width: 110px;
	}
	/*.verify__img {*/
	/*	width: 173px;*/
	/*}*/

	body {
			margin: 2% auto;
	}
	.section {
		margin-top: 80px;
	}

	.bottom {
		padding-top: 20px;
	}

}


@media (max-width: 575px) { /*Мобільні*/
	.back_to_a {
		top: 1em;
		left: 0.6em;
	}

	.verify_here_img {
		width: 145px;
		right: 50%;
		transform: translateX(50%);
	}
	.header__logo {
		padding: 70px 0 0 0;
	}

}

@media (max-width: 500px) { /*Мобільні*/
	.back_to_a {
		position: fixed;
		width: 40px;
		height: 28px;
		top: 1em;
		left: 0.9em;
	}

	.header__logo {
		padding: 50px 0 0 0;
	}
}

@media (max-width: 400px) { /*Мобільні*/

	/*.header__logo {*/
	/*	width: 100px;*/
	/*}*/

	/*.verify__img {*/
	/*	width: 100px;*/
	/*}*/

	#verify_input {
		width: 190px;
	}
	#verify__submit_button {
		width: 95px;
	}

}


/*@media handheld and (orientation: landscape) and (max-height: 575px) {*/

/*}*/

/*@media (max-width: 475px) {
	.verify__block {
		width: 280px;
    	height: 200px;
	}

	.verify__img {
		width: 105px;
	}

	.verify__qr {
		font-size: 75px;
	}

	.verify__text {
		font-size: 20px;
	}


	#verify__submit_button {
		height: 42px;
		width: 67px;
	}

	#verify_input {
		height: 42px;
		width: 250px;
		font-size: 18px;
	}

	.verify {
		height: 480px;
	}
}*/

/*@media (max-height: 620px){*/

/*}*/


/*
@media (max-width: 390px){
	#verify__submit_button {
		height: 40px;
		width: 67px;
	}

	#verify_input {
		height: 40px;
		width: 215px;
		font-size: 17px;
	}

	.verify {
		height: 423px;
	}

	.header__go_back.active {
		width: 230px;
	}

	.header__go_back.active span {
		font-size: 20px;
	}
}*/
